<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.linnk.fatclient.service.LinnkEclipseApplication">
         </run>
      </application>
   </extension>
   <extension
         id="LinnkNew"
         point="org.eclipse.core.runtime.products">
      <product
            application="lnFatClientApplicationService.application"
            name="Linnk Name">
         <property
               name="appName"
               value="Linnk Name">
         </property>
      </product>
   </extension>

</plugin>
