<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="LinnkApplication"
         name="Linnk Application"
         point="org.eclipse.core.runtime.applications">
      <Generic>
         Linnk Descrption
      </Generic>
   </extension>
   <extension
         id="Linnk"
         point="org.eclipse.core.runtime.products">
      <product
            application="lnFatClientApplicationService.LinnkApplication"
            name="Linnk Name">
         <property
               name="appName"
               value="Linnk Name">
         </property>
      </product>
   </extension>

</plugin>
